## Normalización Z-Score

La normalización Z-score, también conocida como estandarización Z-score o estandarización estándar, es una técnica común utilizada en estadísticas y análisis de datos para **transformar una variable numérica de manera que tenga una media de 0 y una desviación estándar de 1. Esto facilita la comparación de diferentes variables que pueden tener diferentes escalas y distribuciones.**

La fórmula para la normalización Z-score de una variable x se calcula de la siguiente manera:

$$Z = \frac{x - \mu}{\sigma}$$

Donde:
- $Z$ es el valor normalizado Z-score.
- $x$ es el valor original de la variable.
- $\mu$ es la **media** de la variable.
- $\sigma$ es la **desviación estándar** de la variable.

Para realizar la normalización Z-score en un notebook de Python, puedes seguir estos pasos utilizando bibliotecas como NumPy y pandas. Supongamos que tienes una columna de datos en un DataFrame de pandas llamado "data" que deseas normalizar:

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creamos un dataframe de prueba
data = {'A': [25, 30, 35, 40, 45],
        'B': [15, 20, 25, 30, 35],
        'C': [5, 10, 15, 20, 25]}

df = pd.DataFrame(data)

In [3]:
# Calcula la media y la desviación estándar de la columna 'A'
mean_A = df['A'].mean()
std_dev_A = df['A'].std()

# Aplica la normalización Z-score a la columna 'A' y crea una nueva columna 'A_normalized'
df['A_norm'] = (df['A'] - mean_A) / std_dev_A

# Opcional: se puede redondear a dos decimales
df['A_norm'] = round(df['A_norm'],2)

In [4]:
df

    A   B   C  A_norm
0  25  15   5   -1.26
1  30  20  10   -0.63
2  35  25  15    0.00
3  40  30  20    0.63
4  45  35  25    1.26