# Funcion `astype`

La función `astype` en Python se utiliza para **cambiar el tipo de datos de un objeto a otro**. En el contexto de pandas, que es una biblioteca de análisis de datos en Python, `astype` se usa para cambiar el tipo de datos de una columna en un DataFrame.

En este ejemplo, `astype` se utiliza para cambiar el tipo de datos de las columnas 'Columna1' y 'Columna2'. La función acepta como argumento el nuevo tipo de datos al cual se desea convertir la columna.

Es importante tener en cuenta que al realizar conversiones de tipo de datos, es posible que se pierda información si la conversión no es posible. Por ejemplo, si intentas convertir una columna que contiene cadenas de texto a un tipo de datos numérico y hay valores no numéricos, podría generarse un error o los valores no numéricos podrían convertirse a NaN (Not a Number) en el caso de tipos de datos numéricos.

Aquí el ejemplo de cómo usar astype en pandas:

In [1]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Columna1': [1, 2, 3], 'Columna2': [4.0, 5.0, 6.0]}
df = pd.DataFrame(data)
df

   Columna1  Columna2
0         1       4.0
1         2       5.0
2         3       6.0

In [2]:
# Mostrar los tipos de datos originales
print("Tipos de datos originales:")
print(df.dtypes)

Tipos de datos originales:
Columna1      int64
Columna2    float64
dtype: object

In [3]:
# Cambiar el tipo de datos de 'Columna1' a tipo de datos de punto flotante
df['Columna1'] = df['Columna1'].astype(float)

# Cambiar el tipo de datos de 'Columna2' a tipo de datos entero
df['Columna2'] = df['Columna2'].astype(int)

# Mostrar los tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(df.dtypes)

Tipos de datos después de la conversión:
Columna1    float64
Columna2      int32
dtype: object