#  Cross Tab
La funci贸n `crosstab()` de la biblioteca Pandas en Python se utiliza para calcular una tabla de contingencia, tambi茅n conocida como tabla de frecuencias cruzadas. Estas tablas son una forma 煤til de resumir y visualizar la relaci贸n entre dos o m谩s variables categ贸ricas en un conjunto de datos. Las tablas de contingencia son especialmente 煤tiles cuando se quiere analizar la relaci贸n entre dos variables categ贸ricas y ver c贸mo se distribuyen conjuntamente.

In [1]:
import pandas as pd

data = {
    'G茅nero': ['Hombre', 'Mujer', 'Hombre', 'Mujer', 'Hombre', 'Mujer'],
    'Educaci贸n': ['Bachillerato', 'Universidad', 'Universidad', 'Bachillerato', 'Maestr铆a', 'Maestr铆a']
}

df = pd.DataFrame(data)
df

   G茅nero     Educaci贸n
0  Hombre  Bachillerato
1   Mujer   Universidad
2  Hombre   Universidad
3   Mujer  Bachillerato
4  Hombre      Maestr铆a
5   Mujer      Maestr铆a

In [2]:
tabla_contingencia = pd.crosstab(df['G茅nero'], df['Educaci贸n'])
tabla_contingencia

Educaci贸n  Bachillerato  Maestr铆a  Universidad
G茅nero
Hombre                1         1            1
Mujer                 1         1            1