# 📋 Cross Tab
La función `crosstab()` de la biblioteca Pandas en Python se utiliza para calcular una tabla de contingencia, también conocida como tabla de frecuencias cruzadas. Estas tablas son una forma útil de resumir y visualizar la relación entre dos o más variables categóricas en un conjunto de datos. Las tablas de contingencia son especialmente útiles cuando se quiere analizar la relación entre dos variables categóricas y ver cómo se distribuyen conjuntamente.

In [1]:
import pandas as pd

data = {
    'Género': ['Hombre', 'Mujer', 'Hombre', 'Mujer', 'Hombre', 'Mujer'],
    'Educación': ['Bachillerato', 'Universidad', 'Universidad', 'Bachillerato', 'Maestría', 'Maestría']
}

df = pd.DataFrame(data)
df

   Género     Educación
0  Hombre  Bachillerato
1   Mujer   Universidad
2  Hombre   Universidad
3   Mujer  Bachillerato
4  Hombre      Maestría
5   Mujer      Maestría

In [2]:
tabla_contingencia = pd.crosstab(df['Género'], df['Educación'])
tabla_contingencia

Educación  Bachillerato  Maestría  Universidad
Género
Hombre                1         1            1
Mujer                 1         1            1