# üòõ Get Dummies
La funci√≥n `get_dummies()` en pandas se utiliza para convertir variables categ√≥ricas (variables que representan categor√≠as o etiquetas) en variables binarias o "dummy variables". Esto es √∫til cuando deseas trabajar con algoritmos de aprendizaje autom√°tico que requieren que todas las entradas sean num√©ricas, ya que permite representar informaci√≥n categ√≥rica de manera num√©rica.

In [1]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5],
    'G√©nero': ['Mujer', 'Hombre', 'Hombre', 'Mujer', 'Mujer']
}

df = pd.DataFrame(data)
df

   ID  G√©nero
0   1   Mujer
1   2  Hombre
2   3  Hombre
3   4   Mujer
4   5   Mujer

In [2]:
df = pd.get_dummies(df, columns=['G√©nero'])
df

   ID  G√©nero_Hombre  G√©nero_Mujer
0   1              0             1
1   2              1             0
2   3              1             0
3   4              0             1
4   5              0             1