# 游댍 Pivot Table
La funci칩n `pivot_table()` en pandas se utiliza para crear una tabla pivote a partir de un DataFrame. Esta funci칩n es 칰til para resumir y reorganizar los datos de una manera que facilite el an치lisis. Permite calcular agregaciones (como sumas, promedios, m치ximos, m칤nimos, etc.) de los datos en funci칩n de los valores de una o m치s columnas, lo que proporciona una vista resumida y estructurada de los datos.

In [1]:
import pandas as pd

data = {
    'Producto': ['B', 'A', 'A', 'B', 'A', 'B'],
    'Region': ['Norte', 'Norte', 'Sur', 'Sur', 'Este', 'Este'],
    'Mes': ['Enero', 'Febrero', 'Enero', 'Febrero', 'Enero', 'Febrero'],
    'Ventas': [100, 150, 80, 120, 200, 90]
}

df = pd.DataFrame(data)
df

  Producto Region      Mes  Ventas
0        B  Norte    Enero     100
1        A  Norte  Febrero     150
2        A    Sur    Enero      80
3        B    Sur  Febrero     120
4        A   Este    Enero     200
5        B   Este  Febrero      90

In [2]:
pd.pivot_table(df, values='Ventas', index='Producto', columns='Mes', aggfunc='sum')

Mes       Enero  Febrero
Producto
A           280      150
B           100      210