# 游댶 Shift

La funci칩n `shift()` en pandas se utiliza para **desplazar los datos de una serie o columna en un DataFrame hacia arriba o hacia abajo a lo largo del 칤ndice**. Esto puede ser 칰til en diversas situaciones, como calcular cambios porcentuales, **comparar datos en diferentes per칤odos de tiempo o realizar an치lisis de series temporales**. La funci칩n toma un argumento opcional llamado periods, que determina cu치ntas posiciones se debe desplazar la serie. Si periods es positivo, los datos se desplazar치n hacia abajo; si es negativo, se desplazar치n hacia arriba.

In [1]:
import pandas as pd

# Crear un DataFrame de ejemplo con columnas de fecha y ventas
data = {'Fecha': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04'],
        'Ventas': [100, 120, 90, 150]}

df = pd.DataFrame(data)
df

        Fecha  Ventas
0  2023-09-01     100
1  2023-09-02     120
2  2023-09-03      90
3  2023-09-04     150

In [2]:
# Convertir la columna 'Fecha' al tipo de dato datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])

In [3]:
# Ordenar el DataFrame por fecha (esto es importante para calcular cambios consecutivos)
df.sort_values(by='Fecha', inplace=True)

In [4]:
# Calcular el cambio en las ventas usando shift
df['Cambio_Ventas'] = df['Ventas'] - df['Ventas'].shift(periods=1)

# Mostrar el DataFrame resultante
df

       Fecha  Ventas  Cambio_Ventas
0 2023-09-01     100            NaN
1 2023-09-02     120           20.0
2 2023-09-03      90          -30.0
3 2023-09-04     150           60.0