# üß™ Preprocesamiento con Label Encoder
#### Variables categoricas ordinales

El LabelEncoder de scikit-learn se utiliza para transformar variables categ√≥ricas en valores num√©ricos. **Es particularmente √∫til cuando se trabaja con variables categ√≥ricas ordinales, donde existe un orden predefinido en las categor√≠as**. El LabelEncoder asigna un n√∫mero entero √∫nico a cada categor√≠a, de manera que las categor√≠as se representan de manera ordinal. Esto puede ser √∫til al entrenar algoritmos de aprendizaje autom√°tico que requieren datos num√©ricos como entrada, como modelos de regresi√≥n o clasificaci√≥n.

**ATENCI√ìN**: Los datos los asignar√° de 0 a n en el orden en el que est√°n los diferentes valores (de la A a la Z o de menor a mayor)

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
# Crear un DataFrame de ejemplo con una columna categ√≥rica ordinal
data = {'Categor√≠a': ['A','A','B1','B1','B2','B2','A']}
df = pd.DataFrame(data)

In [3]:
# Inicializar el LabelEncoder
encoder = LabelEncoder()

In [4]:
# Ajustar el encoder a los datos y transformar la columna 'Categor√≠a' en valores num√©ricos
df['Categor√≠a_codificada'] = encoder.fit_transform(df['Categor√≠a'])

In [5]:
df.sort_values('Categor√≠a_codificada', ascending = False)

  Categor√≠a  Categor√≠a_codificada
4        B2                     2
5        B2                     2
2        B1                     1
3        B1                     1
0         A                     0
1         A                     0
6         A                     0

In [6]:
# Puedes revertir la codificaci√≥n tambi√©n
df['Categor√≠a_decodificada'] = encoder.inverse_transform(df['Categor√≠a_codificada'])
df

  Categor√≠a  Categor√≠a_codificada Categor√≠a_decodificada
0         A                     0                      A
1         A                     0                      A
2        B1                     1                     B1
3        B1                     1                     B1
4        B2                     2                     B2
5        B2                     2                     B2
6         A                     0                      A