# 游빍 Group By (Pandas)
La funci칩n `groupby()` de la biblioteca de Python llamada Pandas se utiliza para agrupar filas de un DataFrame en funci칩n de los valores de una o m치s columnas. Es una operaci칩n fundamental en el an치lisis de datos, ya que permite realizar c치lculos y res칰menes espec칤ficos en subconjuntos de datos que comparten un valor com칰n en una o m치s columnas. Algunas de las operaciones comunes que se pueden realizar despu칠s de agrupar datos incluyen la suma, promedio, conteo, y muchas otras funciones de agregaci칩n.

In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Ventas': [100, 150, 200, 50, 75, 125],
    'Tienda': ['Tienda1', 'Tienda2', 'Tienda1', 'Tienda2', 'Tienda1', 'Tienda2']
}

df = pd.DataFrame(data)
df

  Producto  Ventas   Tienda
0        A     100  Tienda1
1        B     150  Tienda2
2        A     200  Tienda1
3        B      50  Tienda2
4        A      75  Tienda1
5        B     125  Tienda2

In [3]:
# Viendo ventas por producto
ventas_por_producto = df.groupby('Producto')['Ventas'].sum()
ventas_por_producto

Producto
A    375
B    325
Name: Ventas, dtype: int64