# 游늶 SQL desde Python con Jupyter Notebook

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Extraer working directory (directorio)
import os
os.getcwd()

'C:\\Users\\USURIO\\Documents\\Data Science\\Pandas_help\\SQL'

### Como cargar una base de datos

In [3]:
# nota: cuidando en como se escribe el path y el nombre
path = 'sqlite-sakila.db'
sqliteConnection = sqlite3.connect(path)
cursor = sqliteConnection.cursor()

En SQL, un **cursor** es un objeto que permite a las aplicaciones program치ticas interactuar con los resultados de una consulta SQL de una fila a la vez. Es especialmente 칰til cuando se manejan conjuntos de datos complejos y se necesita procesar cada fila individualmente en lugar de trabajar con el conjunto completo de resultados de la consulta.

Los cursores se utilizan en situaciones donde se necesita una manipulaci칩n detallada y espec칤fica de los datos recuperados de una consulta. Los cursores permiten a los desarrolladores recorrer los resultados de la consulta fila por fila, realizar operaciones en cada fila y, en algunos casos, realizar actualizaciones en la base de datos utilizando los valores de la fila actual.

Hay varios tipos de cursores en SQL:

1. **Cursor Impl칤cito:** Estos cursores son creados autom치ticamente por el sistema de gesti칩n de bases de datos para manejar consultas. Los cursores impl칤citos son usados internamente por el sistema y generalmente no son manipulados directamente por los desarrolladores.

2. **Cursor Expl칤cito:** Estos cursores son creados y gestionados expl칤citamente por los desarrolladores en su c칩digo SQL. Los desarrolladores pueden definir, abrir, recorrer y cerrar cursores expl칤citos seg칰n sus necesidades.

El uso de cursores en SQL debe hacerse con precauci칩n, ya que pueden ser menos eficientes en comparaci칩n con las operaciones de conjunto que SQL est치 dise침ado para manejar. Los cursores suelen ser necesarios solo cuando las operaciones que se deben realizar no se pueden expresar f치cilmente con declaraciones de conjunto SQL est치ndar.

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('actor',), ('country',), ('city',), ('address',), ('language',), ('category',), ('customer',), ('film',), ('film_actor',), ('film_category',), ('film_text',), ('inventory',), ('staff',), ('store',), ('payment',), ('rental',)]

### Como hacer consultas (queries)

In [5]:
# con fecthall e imprimiendo todo
query = "SELECT * FROM film LIMIT 5"
cursor.execute(query)
print(cursor.fetchall())

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', '2006', 1, None, 6, 0.99, 86, 20.99, 'PG', 'Deleted Scenes,Behind the Scenes', '2021-03-06 15:52:00'), (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', '2006', 1, None, 3, 4.99, 48, 12.99, 'G', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00'), (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', '2006', 1, None, 7, 2.99, 50, 18.99, 'NC-17', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00'), (4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', '2006', 1, None, 5, 2.99, 117, 26.99, 'G', 'Commentaries,Behind the Scenes', '2021-03-06 15:52:00'), (5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', '2006', 1, None, 6, 2.99, 130, 22.99, 'G', 'Deleted Scenes', '2021-03-06 15:52:00')]

In [6]:
# con fecthall y un bucle for
query = "SELECT * FROM film LIMIT 5"
cursor.execute(query)
output = cursor.fetchall()
for row in output:
    print(f'{row}\n')

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', '2006', 1, None, 6, 0.99, 86, 20.99, 'PG', 'Deleted Scenes,Behind the Scenes', '2021-03-06 15:52:00')

(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', '2006', 1, None, 3, 4.99, 48, 12.99, 'G', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00')

(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', '2006', 1, None, 7, 2.99, 50, 18.99, 'NC-17', 'Trailers,Deleted Scenes', '2021-03-06 15:52:00')

(4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', '2006', 1, None, 5, 2.99, 117, 26.99, 'G', 'Commentaries,Behind the Scenes', '2021-03-06 15:52:00')

(5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', '2006', 1, None, 6, 2.99, 130, 22.99, 'G', 'Deleted Scenes', '2021-03-06 15:52:00')

### 游냪 Hacer queries con Pandas

In [7]:
query = "SELECT * FROM film LIMIT 5"

# read_sql_query(consulta, base_de_datos)
pd.read_sql_query(query, sqliteConnection)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-03-06 15:52:00
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2021-03-06 15:52:00

In [8]:
query='''
SELECT rating, AVG(length)
FROM film
GROUP BY rating
HAVING AVG(length) BETWEEN 112 AND 120
'''

pd.read_sql_query(query, sqliteConnection)

  rating  AVG(length)
0  NC-17   113.228571
1     PG   112.005155
2      R   118.661538

In [9]:
query = 'SELECT * FROM film'
df_film = pd.read_sql_query(query, sqliteConnection)

In [10]:
(df_film.groupby('rating')
        .mean(numeric_only = True)[['length']]
        .query('length >= 112 & length <= 120'))

            length
rating
NC-17   113.228571
PG      112.005155
R       118.661538

### Cerrar conexiones (buena practica)

In [11]:
# cerrar Cursor
cursor.close()

# cerrar BBDD
sqliteConnection.close()